<% header 'Server Types - ' + @cloud.name, nil, <<HELP
<p>These are the Server Types that this cloud provides. You can select a Server Type when creating servers in your deployments.</p>
HELP
%>

<%= render :partial => 'shared/cloud_menu' %>

<table class="condensed-table bordered-table zebra-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>CPU</th>
      <th>Memory (GB)</th>
      <th>Local Storage</th>
      <th>OS</th>
      <th>Price/Hour (<%= @cloud.billing_currency %>)</th>
    </tr>
  </thead>

  <tbody>
    <% @server_types.each do |server_type|
         # Ideally we should put this logic in the model but doing it this way makes a huge
         # performance gain.

         # Find all CloudCostSchemes for this server_type in this cloud
         ccs = CloudCostScheme.all(
                 :conditions => ["cloud_id = ? AND cloud_resource_type_id = ?", @cloud.id, server_type.id],
                 :include => [:cloud_cost_structure => :cloud_cost_tiers])
         # Skip this server_type if it doesn't have any CCS
         next if ccs.empty?
         # Lookup the relevant CloudCostStructures
         instance_hour = ccs.select{|c| c.cloud_cost_structure.name == 'instance_hour' && c.cloud_cost_structure.valid_until.nil?}.first
         instance_hour = instance_hour.cloud_cost_structure if instance_hour
    %>
      <tr>
        <td><%= server_type.name %></td>
        <td><%= server_type.cpu_values_string %></td>
        <td><%= server_type.memory %></td>
        <td><%= server_type.hdd_values_string %></td>
        <td><%= server_type.operating_system %></td>
        <td><%= instance_hour ? "#{instance_hour.tier_prices_string}" : 'N/A' %></td>
      </tr>
    <% end %>
  </tbody>
</table>